.langSwitcher {
  background-color: #06502b;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  border: none;
  width: 60px;
  font-size: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 10px;
  margin-right: 10px;

  &:hover {
    background-color: #1b915a;
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(132, 65, 65, 0.4);
  }
}
